.main-menu
	height: 80px
	width: 100vw
	padding: 10px 150px
	background: linear-gradient(25deg, rgba(225,5,211,1) 0%, rgba(67,39,239,1) 18%, rgba(73,38,238,1) 64%, rgba(225,5,211,1) 100%)
	display: flex
	justify-content: center
	align-items: center
	box-shadow: 0 0 13px rgba(0,0,0,.05)

	& a
		text-decoration: none

	& .logo
		display: flex
		align-items: center
		height: 100%
		color: #f5f5f5

	& .shopping-cart
		display: flex
		align-items: center

		& .amount
			font-weight: 500
			font-size: 12px
			color: #f5f5f5
			background: #0433ff
			padding: 2px 5px
			border-radius: 4px

		& svg
			fill: #f5f5f5
			margin-right: 5px
