.content-counter
	display: flex
	height: 32px
	width: 110px
	border: 1px solid #2553e9

	& button
		background: #2553e9
		color: #FFFFFF
		height: 100%
		border: none
		width: 32px
		text-align: center
		font-size: 22px

	& input
		border: none
		color: #2553e9
		background: #FFFFFF
		height: 100%
		width: 50px
		text-align: center
		line-height: 33px
		font-size: 22px

		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button
			-webkit-appearance: none
			margin: 0

		&[type=number]
			-moz-appearance: textfield
