name: Deploy

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: [12.x, 14.x, 16.x]
        cache: 'npm'
    - name: Build web-app
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test --if-present
    - name: Deploy to web-app
      uses: peaceiris/actions-gh-page@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./build